Flask==3.0.2
Pillow==10.2.0
python-dotenv==1.0.1
pydantic==2.6.1
openai==1.12.0
shopify==12.4.0
certifi==2024.2.2
urllib3==2.2.1
pillow-heif==0.15.0
pyOpenSSL==24.0.0  # For ssl_context='adhoc' in Flask 